@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');





#banner{
  
  color: hsla(0, 0%, 94%, 1);
  height: calc(100vh - 6.25rem) ;
  width: 100%;
  padding-top: 4rem;
  padding-left: 8.26% ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(80.87% 481.72% at 15.17% 35.76%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.54) 51.88%, rgba(0, 0, 0, 0.24) 100%), url(Assets/nathan-dumlao-KixfBEdyp64-unsplash\ 1.png);
}

#conteudobanner{
  display: flex;
  flex-direction: column;
  width: 36.813rem;
  height: 100%;
  max-height: 25.438rem;
  justify-content: space-between;
  align-items: flex-start;
}

#infobanner{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  height: 19.375rem;
}

#infobanner h1{
  font-weight: 700;
  font-size: 3.5rem;
}

#infobanner p{
  font-weight: 400;
  font-size: 1.5rem;
  width: 32.125rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

main #sobre {
  width: 100%;
  height: calc(100vh - 6.25rem);
  background-color: hsla(45, 29%, 95%, 1);
  padding: 3.5rem 10.938rem 5.5rem 6.5rem;
}

main  #conteudosobre{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
 
}

main #infosobre{
  height: 100%;
  width: 100%;
  max-width: 36.813rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
 position: relative; 
}

main #sobre #imagemsobre { 
  width: 35% ;
  height: auto;
}

main #textosobre{
  width: 100% ;
  height: 18.75rem;
  max-width: 36.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

main #paragrafosobre{
  height: 11.5rem;
  width: 100%;
  max-width: 36rem;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#imgcafe{
  width: 100%;
  height: 12.438rem;
  background-image: url(Assets/Cafe\ onda.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}

#imgcafe::before{
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  background-color: hsla(45, 29%, 95%, 1);
  position: absolute;
  z-index: -2;
}

#imgcafe::after{
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  background-color: hsla(24, 61%, 31%, 1);
  position: absolute;
  top: 50%;
  z-index: -1;
}

main #venhaseapaixonar{
  height: 44.875rem;
  width: 100%;
  padding-top: 3.0625rem;
  padding-bottom: 3.5rem;
  background-color: hsla(24, 61%, 31%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main #venhaseapaixonar h2{
  font-family: Cormorant Garamond;
  font-size: 3rem;
  font-weight: 700;
  color: hsla(45, 29%, 95%, 1);
}

main #venhaseapaixonar h2::after{
  content: '';
  display: block;
  width: 72%;
  height: 0.1875rem;
  margin: 0 auto;
  background-color: hsla(27, 41%, 49%, 1);
  position: relative;
  border-radius: 2px;
}

main #linkServicos{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: ;
  flex-wrap: wrap;
  width: 49.5rem;
}

main #venhaseapaixonar .buttondecoration{
  justify-content: center;
  background-color: hsla(24, 91%, 82%, 1);
  color: hsla(23, 100%, 6%, 1);
}

main #venhaseapaixonar .buttondecoration:hover{
  background-color: hsla(24, 100%, 90%, 1);
  color: hsla(23, 85%, 12%, 1);
}

@media (max-width: 640px) {

  #banner{
    width: 100%;
    height: 100%;
    max-height: 344px;
    padding: 32px 47px 56px 24px;
  }

  #conteudobanner{
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;

  }

  #infobanner{
    height: 100%;
  }

  #infobanner h1{
    font-size: 40px;
  }

  #infobanner p{
    font-size: 20px;
  }

main #sobre{
    padding-top: 32px ;
    padding-right: 24px ;
    padding-bottom: 32px ;
    padding-left: 24px;
  }

  #imagemsobre{
    display: none;
  }

  #imgcafe{
    background-size: contain;
  }

  #logofooter{
    display: none;
  }








}