@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  display: grid;
  grid-template-rows: 6.25rem auto 25.125rem ;
  
}

header{
  height: 6.25rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: hsla(24, 78%, 19%, 1);
  font-family: Cormorant Garamond;
  font-weight: 700;
  font-size: 18px;
  color: hsla(27, 44%, 86%, 1);
  position: fixed;
  
}

header a{
  color: hsla(27, 44%, 86%, 1);
  position: relative;
}

header a.opcao::after{
  content: '';
  display: block;
  width: 2.688rem;
  height: 0.125rem;
  margin: 0 auto;
  background-color: hsla(27, 41%, 49%, 1);
  position: relative;
  border-radius: 1px;
}

header a#logoHeader{
  display: flex;
  flex-direction: column;
  width: 8.625rem;
  height: 5.313rem;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}

header #telefoneHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7.375rem;

}

footer{
  background-color: hsla(24, 78%, 19%, 1);
  color: hsla(27, 44%, 86%, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 3;
  align-items: center;
  font-family: Open Sans;
  
}

footer #informacoes{
  display: flex;
  width: 83.3%;
  margin-top: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  
}

footer #logofooter p{
  display: flex;
  flex-direction: column;
  width: 15.375rem;
  height: 13.125rem;
  align-items: center;
  justify-content: space-between;
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-size: 32px;
  margin-right: 10.125rem;
}

footer #logofooter p img{
  width: 7.938rem;
  height: 10.127rem;
}

footer #dados{
  display: flex;
  align-items: flex-start;
}

footer #dados img{
  padding-right: 0.5rem;
}



footer #dados li{
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer #dados #endereco{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  width: 14rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

footer #contato{
  width: 16.063rem;
  height: 14.375rem;
  margin-right: 3.063rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer #contato ul{
  width: 16.063rem;
  height: 10.201rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer #redessociais{
  width: 12.75rem;
  height: 8.786rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer #redessociais ul{
  width: 12.75rem ;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer #rodape{
  width: 83.3%;
  height: 5.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid hsla(26, 43%, 46%, 1);
  font-size: 1rem;
  font-weight: 400;
}

main{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: auto;
}

#banner{
  height: calc(100vh - 6.25rem) ;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(80.87% 481.72% at 15.17% 35.76%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.54) 51.88%, rgba(0, 0, 0, 0.24) 100%), url(Assets/nathan-dumlao-KixfBEdyp64-unsplash\ 1.png);
}
